@media (max-width: 1100px) {
    main {
        flex-direction: column;
        margin-top: 50px;
        justify-content: center;
    }

    .left {
        margin-right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        white-space: wrap;
        margin-bottom: 50px;
    }

    .subtext {
        text-align: center;
        width: 250px;
    }

    .free-try {
        width: 100%;
    }

    .free-try p {
        width: 150px;
        text-align: center;
    }

    form {
        width: 100%;
    }

    .attribution {
        bottom: -150px;
    }
}